body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}
.boton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#delete{
    background-color: rgb(218, 7, 7);
}
#edit{
    background-color: #5DA9E9;
}
#delete:hover{
    background-color: rgb(168, 5, 5);
    color:white
}
#edit:hover{
    background-color: #003F91;
    color:white
}
.elements {
    width: 300px;
    padding: 20px;
    border: 1px solid #003F91;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #003F91;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

#user{
    font-size: 20px;
}

