body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    
}
.tabla {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 19px;
    padding: 20px;
  }
  
  .tabla th:not(:first-child),
  .tabla td:not(:first-child) {
    border-left: 1px solid #000;
  }
.top{
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #000; 
}
tr{
    height: 40px;
}
#par{
    background-color: rgb(226, 225, 225);
}
#deleted{
    background-color: #E03C32;
    color:black;
    border:none;
    border-radius: 10px;
    font-size: 19px;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#deleted:hover {
    background-color: #b60f0f;
    color:#FFFFFF;
}
#edit{
    background-color: #1091e7;
    color:black;
    border:none;
    border-radius: 10px;
    font-size: 19px;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
#edit:hover {
    background-color: #0f33b6;
    color:#FFFFFF;
}