#contenedor{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #003F91;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #003F91;

}
.botones {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#register{
    background-color: #7BB662;
    
    color:black;
}
#register:hover {
    background-color: #006B3D;
    color:#FFFFFF;
}
#edit{
    background-color: #FFD301;
    color:black;
}
#edit:hover {
    background-color: #c8a703;
    color:#FFFFFF;
}
#delete{
    background-color: #E03C32;
    color:black;
}
#delete:hover {
    background-color: #b60f0f;
    color:#FFFFFF;
}