body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    
}
.tabla {
    border-collapse: collapse;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 19px;
    padding: 20px;
  }
  
  .tabla th:not(:first-child),
  .tabla td:not(:first-child) {
    border-left: 1px solid #000;
  }
.top{
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #000; 
}
tr{
    height: 40px;
}
#par{
    background-color: rgb(226, 225, 225);
}
