{% extends "base.html" %}

{% block titulo %} Admn panel {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static' , filename = 'CSS/style_admin.css')}}">
{% endblock %}

{%block content%}
<ul>
    {% for user in users %}   
        <div class = "elements">
            <span id = "user">{{user}}</span><br><br>
            <button class = "boton" id ="delete"> Delete</button> 
            <button class = "boton" id = "edit"> edit </button>
    
        </div>  
    <br>
    {% endfor %}
</ul>
{% endblock %}
