<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app {% block titulo %}{% endblock %}</title>
    {% block style %}
    <!-- archivo de estilos-->
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav>
        <a href="{{url_for('register')}}"> <img width="30px" height="30px" src="https://www.freeiconspng.com/uploads/reload-icon-3.png"></a>  
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>