<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app {% block titulo %}{% endblock %}</title>
    {% block style %}
    <!-- archivo de estilos-->
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav>
        <ol>
            <li><a href="{{url_for('register')}}"> registrar</a></li>
            <li><a href="{{url_for('tabla')}}">Tabla</a></li>
            <li><a href="{{url_for('index')}}">index</a></li>
            <li><a href="{{url_for('eliminar')}}">eliminar</a></li>
        </ol>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>